@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,300;1,700&display=swap');

:root {
 --color-dark-green: #0B4E04;
 --color-medium-dark-green: #159108;
 --color-light-green: #BDEDC4;
 --color-dark-blue: #02203C;
 --color-black: #000;
 --color-white: #FFF;
 --color-dark-grey: #69757A;
 --color-light-grey: #F2F2F2;

 --box-shadow-weak: 0px 4px 4px rgba(0, 0, 0, 0.25);
 --box-shadow-strong: 0px 4px 8px rgba(0, 0, 0, 0.25);
}

/* GLOBAL STYLES */
*, :after, :before {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  background-color: #f6f9fc;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  line-height: 1.42;
  font-size: 16px;
}

h1, h2, h3, h4, h5 {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  line-height: 1.2857em;
  text-transform: uppercase;
}

strong {
  font-weight: 700;
}

th > button > svg {
  border-radius: 4px;
  transition: background-color .6s cubic-bezier(.4,0,.2,1);;
}
/* END OF GLOBAL STYLES */


/* BASE STYLES */
.button-base {
  color: inherit;
  border: 0;
  cursor: pointer;
  margin: 0;
  display: inline-flex;
  outline: 0;
  padding: 0;
  position: relative;
  align-items: center;
  user-select: none;
  border-radius: 0;
  vertical-align: middle;
  -moz-appearance: none;
  justify-content: center;
  text-decoration: none;
  background-color: transparent;

  /*
    Prevents background color from appearing blue when
    the button to expand the form is clicked on mobile
  */
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent;
}
/* END OF BASE STYLES */


/* TABLE STYLES */
table {
  border-collapse: collapse;
  min-width: 250px;
  max-height: 70vh;
  width: 100%;
  grid-template-columns: 1.25fr 2fr 2fr 2fr;
  box-shadow: var(--box-shadow-strong);
}

thead, tbody, tr {
  text-align: center;
}

thead {
  background-color: #000;
}

thead th:first-child {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  place-items: center;
}

thead th:not(:first-child) {
  border-left: 1px solid rgba(224, 224, 224, 1);
}

tbody > tr {
  border-top: 1px solid rgba(224, 224, 224, 1);
  white-space: nowrap;
}

/* Zebra Striping */
tr:nth-child(odd) td {
  background-color: var(--color-light-grey);
}

th, td {
  padding: 8px 16px;
}

th {
  font-weight: 500;
  text-transform: uppercase;
  background-color: var(--color-black);
  color: var(--color-white);
}
/* END OF TABLE STYLES */

/* ID STYLES */
#calc {
  background-color: var(--color-white);
  box-shadow: var(--box-shadow-weak);
  border-radius: 4px;
  border-left: 5px solid var(--color-dark-green);
} #calc-switch {
  height: 48px;
  width: 100%;
  justify-content: flex-end;
} #calc-switch-text {
  flex-grow: 1;
  font-size: 18px;
} #savings {
  width: 100%;
  padding: 10px 16px;
  max-width: 750px;
  overflow-x: auto;
}
/* END OF ID STYLES */

/* LAYOUT STYLES */
.grid-center {
  display: grid;
  place-items: center;
}

.width--100 { width: 100%; }
.max-width--400 { max-width: 400px; }
.max-width--240 { max-width: 240px; }

.margin-top--1 { margin-top: 1rem; }
.margin-top--none { margin-top: 0; }
.margin--none {
  margin: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
}.margin-responsive {
  margin: 5%;
}

.padding--16 { padding: 16px; }
.padding--10 { padding: 10px; }
.padding--8x16 { padding: 8px 16px; }
.padding-top--8 { padding-top: 8px; }
.padding-right--0 { padding-right: 0px; }
.padding-left--4 { padding-left: 4px; }

.row-gap--1 { row-gap: 1em; }
/* END OF LAYOUT STYLES */


/* TEXT STYLES */
.text-align--left { text-align: left; }
.text-align--center { text-align: center; }

.font-weight--500 { font-weight: 500; }

.fs-error {
  color: red;
  font-weight: 500;
}

.section-title {
  color: var(--color-dark-green);
  letter-spacing: 0.04em;
}
/* END OF TEXT STYLES*/


/* OTHER STYLES */
.will-change--height-0 {
  height: 0px;
  overflow-y: hidden;
  transition: height .6s cubic-bezier(.4,0,.2,1);
  will-change: height;
}

.transform--rotate180 {
  transform: rotate(-180deg);
}

.visibility--hidden {
  visibility: hidden;
}
/* END OF OTHER STYLES */


/* RESPONSIVE STYLES */
@media (max-width: 725px) {
  table, thead, tbody {
    display: block;
  }

  /* TODO: see if we can update class, otherwise, ignore */
  th, td {
    display: grid;
    place-items: center;
  }

  table {
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    overscroll-behavior-x: contain;
    scroll-behavior: smooth;
  }

  thead {
    top: 0;
    position: sticky;
    position: -webkit-sticky;
    z-index: 2;
  }

  /* Convert the table to only display 3 columns */
  tbody, thead {
    width: calc(5/3 * 100%);
  }

  tbody > tr {
    white-space: normal;
  }

  tr {
    display: flex;
    width: 100%;
  }

  td, th {
    width: 50%;
    scroll-snap-align: end;
  }

  tr > th:first-child, tr > td:first-child {
    position: sticky;
    left: 0;
    z-index: 1;
    width: 195px;
  }
}

@media (max-width: 500px) {
  table td, table th {
    padding: 4px;
  }

  .margin-responsive { 
    margin: 10px;
  }
}

/* Only apply stylse to devices with hover capability */
@media (hover: hover) {
  th svg:hover {
    background-color: #ffc0cb;
    border-radius: 4px;

    transition: background-color .6s cubic-bezier(.4,0,.2,1);
  }
}
/* END OF RESPONSIVE STYLES */
