@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,300;1,700&display=swap');

:root {
 --color-dark-green: #0B4E04;
 --color-medium-dark-green: #159108;
 --color-light-green: #BDEDC4;
 --color-dark-blue: #02203C;
 --color-black: #000;
 --color-white: #FFF;
 --color-dark-grey: #69757A;
 --color-light-grey: #F2F2F2;

 --box-shadow-weak: 0px 4px 4px rgba(0, 0, 0, 0.25);
 --box-shadow-strong: 0px 4px 8px rgba(0, 0, 0, 0.25);
}

*, :after, :before {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  background-color: #f6f9fc;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  line-height: 1.42;
  font-size: 16px;
}

h1, h2, h3, h4, h5 {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  line-height: 1.2857em;
  padding: 0;
  margin: 0;
  text-transform: uppercase;
}

button {
  all: unset; /* remove default styles */
  -webkit-tap-highlight-color: transparent;
}

/*
  Prevents background color from appearing when the form
  button is clicked (expands and shrinks).
*/
input, textarea, button, select, a {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

h2 {
  color: var(--color-grey);
}

strong {
  font-weight: 700;
}

#description {
  margin: 4%
}

table {
  border-collapse: collapse;
  min-width: 250px;
  max-height: 70vh;
  width: 100%;
  grid-template-columns: 1.25fr 2fr 2fr 2fr;
  box-shadow: var(--box-shadow-strong);
}

thead, tbody, tr {
  text-align: center;
}

thead {
  background-color: #000;
}

thead th:first-child {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  place-items: center;
}

thead th:not(:first-child) {
  border-left: 1px solid rgba(224, 224, 224, 1);
}

tbody > tr {
  border-top: 1px solid rgba(224, 224, 224, 1);
  white-space: nowrap;
}

/* Zebra Striping */
tr:nth-child(odd) td {
  background-color: var(--color-light-grey);
}

th, td {
  padding: 8px 16px;
}

th {
  font-weight: 500;
  text-transform: uppercase;
  background-color: var(--color-black);
  color: var(--color-white);
}

/* font-style */
.fs-medium {
  font-weight: 500;
}

.fs-light {
  font-weight: 300;
  font-style: italic;
}

.no-margin {
  margin: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
} .top-margin {
  margin-top: 1rem;
} .bot-margin {
  margin-bottom: 1rem;
}

#wrapper {
  margin: 5%;
  display: grid;
  place-items: center;
}

#title {
  color: var(--color-dark-green);
  letter-spacing: 0.04em;
}

#calc {
  width: fit-content;
  max-width: 250px;
  background-color: #fff;
  transition: height 0.2s;
  will-change: height;
  box-shadow: var(--box-shadow-weak);
  border-radius: 4px;
  border-left: 5px solid var(--color-dark-green);
} #calc-switch {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  cursor: pointer;
  padding: 8px 16px;
  height: 3em; /* Fixed Height because Material UI SVG scales wierd */
} #calc-switch-text {
  margin: 0;
  flex-grow: 1;
  font-size: 18px;
} #calc-form {
  display: grid;
  place-items: center;
  padding: 8px 16px;
  row-gap: 1em;
  padding-bottom: 1em;
}

.expandable {
  height: 0px;
  overflow: hidden;
  transition: height .6s cubic-bezier(.4,0,.2,1);
  will-change: height;
}

.tt-180 {
  transform: rotate(-180deg);
} .tt-none {
  transition: transform 0.2s;
}

#savings {
  width: 100%;
  padding: 10px 16px;
  max-width: 750px;
  overflow-x: auto;
}

#loan-details {
  width: 275px;
  padding: 24px 16px;  
}

@media (max-width: 725px) {
  table, thead, tbody {
    display: block;
  }

  th, td {
    display: grid;
    place-items: center;
  }

  table {
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    overscroll-behavior-x: contain;
    scroll-behavior: smooth;
  }

  thead {
    top: 0;
    position: sticky;
    position: -webkit-sticky;
    z-index: 2;
  }

  /* Convert the table to only display 3 columns */
  tbody, thead {
    width: calc(5/3 * 100%);
  }

  tbody > tr {
    white-space: normal;
  }

  tr {
    display: flex;
    width: 100%;
  }

  td, th {
    width: 50%;
    scroll-snap-align: end;
  }

  tr > th:first-child, tr > td:first-child {
    position: sticky;
    left: 0;
    z-index: 1;
    width: 195px;
  }
}

@media (max-width: 500px) {
  table td, table th {
    padding: 4px;
  }

  #wrapper { 
    margin: 5% 10px;
  }
}

@media (max-width: 350px) {
  #loan-details {
    width: 100%;
  }
  #wrapper {
    margin: 5% 2px;
  }
}

.hidden {
  visibility: hidden;
}

th > button > svg {
  border-radius: 4px;
  transition: background-color .6s cubic-bezier(.4,0,.2,1);;
}

/* Only apply stylse to devices with hover capability */
@media (hover: hover) {
  th svg:hover {
    background-color: #ffc0cb;
    border-radius: 4px;

    transition: background-color .6s cubic-bezier(.4,0,.2,1);
  }
}